{% load custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{% static 'chatbot/style_chatbot.css' %}?v={{ STATIC_VERSION }}">
</head>

<body>
    <div class="container">
        <h1>Chatbot</h1>
        <div id="chat" class="chat">
            {% if mensajes %}
            {% for mensaje in mensajes %}
            <div class="mensaje {{ mensaje.remitente }}">
                <span class="nombre">
                    {% if mensaje.remitente == "usuario" %}
                    {{ mensaje.usuario.username|default:"Usuario desconocido" }}:
                    {% elif mensaje.remitente == "bot" %}
                    BOT:
                    {% endif %}
                </span>
                <span class="contenido">{{ mensaje.mensaje }}</span>
            </div>
            {% endfor %}
            {% else %}
            <p id="no-mensajes">No hay mensajes previos.</p>
            {% endif %}
        </div>

        <div class="input-section">
            <input type="text" id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí...">
            <button id="enviar">Enviar</button>
        </div>

        <!-- Botón para borrar mensajes -->
        <form action="{% url 'borrar_mensajes' %}" method="post" style="margin-top: 20px;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Borrar Mensajes</button>
        </form>

        <!-- Botón para volver al inicio -->
        <form action="{% url 'registrar_emocion' %}" method="get" style="margin-top: 10px;">
            <button type="submit" class="btn btn-danger">Volver al inicio</button>
        </form>
    </div>

    <script src="{% static 'chatbot/chatbot.js' %}?v={{ STATIC_VERSION }}"></script>
</body>

</html>