{% extends 'base.html' %}
{% load static %}

{% block title %}Historial emocional{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial Emocional</title>
    <link rel="stylesheet" href="{% static 'style_historial_emocional.css' %}">
    <link rel="stylesheet" href="{% static 'style_index.css' %}">

</head>

<body>
    <h1>Historial Emocional</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Emoción</th>
                <th>Comentario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in historial %}
            <tr>
                <td>{{ item.fecha }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.emocion }}</td>
                <td>{{ item.comentario }}</td>
                <td>
                    <a href="{% url 'editar_emocion' item.id %}" class="btn btn-warning">Editar</a>
                    <form action="{% url 'eliminar_emocion' item.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <br>
    <div style="display: flex; justify-content: center; gap: 10px; margin-top: 20px;">
        <!-- Botón para registrar nueva emoción -->
        <form action="{% url 'registrar_emocion' %}" method="get">
            <button type="submit" class="btn-naranja">Registrar nueva emoción</button>
        </form>

        <!-- Botón para eliminar el historial emocional -->
        <form action="{% url 'eliminar_historial' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-naranja">Eliminar historial emocional</button>
        </form>
    </div>
</body>

</html>

{% endblock %}