{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Asistente Virtual</title>
    <link rel="stylesheet" href="{% static 'style_index.css' %}">
</head>

<body>
    <div class="container">
        <h1>Bienvenido al Asistente Virtual ECCI</h1>
        <p>Gestiona tus emociones y recibe apoyo con nuestro chatbot.</p>
        <a href="{% url 'login' %}" class="btn">Iniciar Sesión</a>
        <a href="{% url 'register' %}" class="btn">Registrarse</a>
        <a href="{% url 'registrar_emocion' %}" class="btn">Registrar Emoción</a>
    </div>
</body>

</html>